<html>

<h1>Household Inventory</h1><br><br><br>
<form style="margin: auto; width: 200px;" id="addinventory" action="/inventory" method="post">
<fieldset>
    <legend>Add Inventory</legend>
    Inventory Name: <input type="text" name="inventory_name"><br>
    Serial Number: <input type="text" name="serial_number"><br>
    Quantity: <input type="number" name="quantity"><br><br>
    <input type="submit" value="Submit">
    </fieldset>
</form>
<br/>

<body>
    <div id="page-wrap">
    <h3>Current Inventory:</h3>
    <table>
        <thead> 
            <th>Inventory Name</th> 
            <th>Serial Number</th> 
            <th>Quantity</th>
        </thead> 
        <tbody>
            {{#each inventory}} 
            <tr> 
                <td>{{inventory_name}}</td> 
                <td>{{serial_number}}</td> 
                <td>{{quantity}}</td> 
                <td><button onclick="var result = confirm('Are you sure you want to delete this item'); if(result){deleteInventory({{id}})}">Delete</button> </td>
            </tr> 
            {{/each}} 
        </tbody> 
    </table> 
    </div>
</body>
</html>
